.instantsquare-content {
  overflow-y: auto;
  height: 100%;
}

.instantsquare-main {
  padding: 0 24px;
}

.instantsquare-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.instantsquare-img1 {
  background: url(../pictures/back.png) no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.instantsquare-img2 {
  background: url(../pictures/nav_icon_meassage.png) no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.instantsquare-keyword {
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ced2d4;
  line-height: 42px;
  margin-bottom: 31px;
}
