@import './MyAllstyle.scss';
.mymessage-content {
  background: $myBkg;
  height: 100vh;
  padding: 30px 24px;
}

.message-middle {
  display: flex;
  margin-bottom: 16px; 
  &-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  &-comment {
    margin: 0px 23px 0px 8px;
    flex: 1;
    border-bottom: 1px solid #2b353d;
    &-reply {
      font-size: 13px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: #8f959b;
      line-height: 20px;
      word-break: break-all;
      margin-bottom: 8px;
      span {
        color: #ced2d4;
      }
    }
    &-dayago {
      height: 16.5px;
      font-size: 12px;
      font-family: $myFont-family;
      font-weight: 300;
      color: #747a80;
      line-height: 16.5px;
      letter-spacing: 0.5px;
      margin-bottom: 16px;
    }
  }
  &-text {
    width: 49px;
    height: 48px;
    font-size: 12px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #8f959b;
    line-height: 16px;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.mymessage-content {
  height: 100%;
  overflow-y: auto;
}
