body {
    background: #303B45;
}

.instant-content {
    width: 100%;
}

.instant-main {
    padding: 34px 24px 32px 24px;
}

.instant-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.instant-img {
    background: url("../pictures/back.png") no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin: 2.5px 0px;
}

.instant-release {
    height: 21px;
    font-size: 21px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #BC9A7A;
    line-height: 21px;
    letter-spacing: 0.5px;
}

.instant-release-time {
    height: 16.5px;
    font-size: 12px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #99A0A2;
    line-height: 16.5px;
    letter-spacing: 0.5px;
    margin-bottom: 23px;
}

.instant-input {
    border: none;
    outline: none;
    width: 100%;
    height: 300px;
    background-color: #303B45;
    font-size: 16px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #CED2D4;
    line-height: 22.5px;
    margin-bottom: 100px;
}

.instant-status {
    height: 15px;
    font-size: 11px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #CED2D4;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: center;
}

.instant-footer {
    width: 94px;
    height: 24px;
    background: #2E353B;
    border-radius: 12px;
    border: solid -0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant-choosestatus {
    width: 100%;
    border-radius: 11px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    padding: 0px 52.5px;
    box-sizing: border-box;
}

.instant-choosestatus-main {
    padding: 16px;
    background: #37434D;
}

.instant-choosestatus-list {
    display: flex;
    margin-bottom: 15.5px;
    justify-content: space-between;
}

.instant-choosestatus-img1 {
    background: url(../pictures/POP_icon_gongkai.png) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 9.75px;
}

.instant-choosestatus-text1 {
    width: 100%;
    height: 21px;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #CED2D4;
    line-height: 21px;
    letter-spacing: 0.5px;
}

.instant-choosestatus-text2 {
    width: 1005;
    height: 18.5px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #747A80;
    line-height: 18.5px;
}

.instant-choosestatus-list-yellow {
    display: flex;
    margin-bottom: 15.5px;
    justify-content: space-between;
}

.instant-choosestatus-list-yellow .instant-choosestatus-text1,
.instant-choosestatus-list-yellow .instant-choosestatus-text2,
.instant-choosestatus-list-yellow .instant-choosestatus-gou {
    color: #BC9A7A;
}

.instant-choosestatus-img2 {
    background: url(../pictures/POP_icon_look.png) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 9.75px;
}

.instant-choosestatus-img3 {
    background: url(../pictures/comment_lock_icon_normal.png) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 9.75px;
}

.instant-choosestatus-gou {
    color: #CED2D4;
    display: flex;
    align-items: center;
}

.instant-choosestatus-left {
    display: flex;
}